body {
  font-family: 'Architects Daughter';
  font-size:17px;
  background-image:  url('../images/header.jpg');
  background-color: #6e303b;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: auto 768px;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #FCF3CF;
}
.container {
  margin: auto;
  width: 305px;
  border: 0 solid green;
  padding: 0;
}
#curtains {
  width: 100%;
  height: 768px;
  margin: 0 0 900px 0;
  padding: 0;
}
#lights {
  width: 100%;
  margin: 0;
  padding: 0;
}
.date {
  font-family: 'Amatic SC', cursive;
  font-size:35px;
  width: 300px;
  text-align: center;
}
.albumTitle {
  margin: 0 0 10px 0;
  width: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.cover {
  height: 300px;
  width: 300px;
  box-shadow: 7px 7px 25px #222;
    /*-webkit-filter: drop-shadow(7px 7px 7px #A4A4A4);
    filter: drop-shadow(7px 7px 7px #222);*/
}
.buttonDiv {
  padding: 10px 0;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

#unisin {
  width: 300px;
  margin: 20px auto 20px auto;
  /*-webkit-filter: drop-shadow(7px 7px 7px #A4A4A4);
  filter: drop-shadow(7px 7px 7px #222);*/
}
#contact {
  width: 300px;
  margin:auto;
}
#copyright {
  width: 305px;
  text-align: center;
}

#crowd{
  min-width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
}

table {
  width: 300px;
  margin: auto;
}
h3 {
  font-size: 14px;
}
img {
  width: 300px;
  margin: auto;
}
a:link {
  color: #FCF3CF;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #FCF3CF;
  text-decoration: none;
}
a:hover {
  color: #9e9e9e;
  text-decoration: none;
}
a:active {
  color: #FCF3CF;
  text-decoration: none;
}
.link {
  color: #FCF3CF;
  font-weight: bold;
  font-size: 90px;
  text-decoration: none;
  cursor: pointer;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5b2632; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}



/* CONTACT FORM */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #FCF3CF;
font-size: 0.875em;
font-weight:bold
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
color: #FCF3CF;
}
input::-moz-placeholder, textarea::-moz-placeholder {
color: #FCF3CF;
font-size: 0.875em;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
color: #FCF3CF;
}
input::placeholder, textarea::placeholder {
color: #FCF3CF;
font-size: 0.875em;
}
input:focus::placeholder, textarea::focus:placeholder {
color: #bbb5af;
}
input::-ms-placeholder, textarea::-ms-placeholder {
color: #FCF3CF;
font-size: 0.875em;
}
input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
color: #FCF3CF;
}
/* on hover placeholder */
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
color: #353535;
font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
color: #353535;
}
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
color: #353535;
font-size: 0.875em;
}
input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
color: #353535;
}
input:hover::placeholder, textarea:hover::placeholder {
color: #353535;
font-size: 0.875em;
}
input:hover:focus::placeholder, textarea:hover:focus::placeholder {
color: #353535;
}
input:hover::placeholder, textarea:hover::placeholder {
color: #353535;
font-size: 0.875em;
}
input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
color: #353535;
}
header {
position: relative;
margin: 100px 0 25px 0;
font-size: 2.3em;
text-align: center;
letter-spacing: 7px;
}
#form {
position: relative;
width: 100%;
margin: 50px auto 100px auto;
}
input {
font-size: 0.875em;
font-weight:bold;
width: 100%;
height: 50px;
padding: 0 15px 0 15px;
background: transparent;
outline: none;
color: #FCF3CF;
border: solid 2px #FCF3CF;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
input:hover {
background: #fff;
color: #353535;
}
textarea {
width: 100%;
height: 110px;
max-height: 110px;
padding: 15px;
background: transparent;
outline: none;
color: #FCF3CF;
font-size: 0.875em;
font-weight:bold;
border: solid 2px #FCF3CF;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
textarea:hover {
background: #fff;
color: #353535;
}
#submit {
width: 50%;
padding: 0;
margin: -5px 0 0 0;
font-size: 0.875em;
font-weight:bold;
color: #FCF3CF;
outline:none;
cursor: pointer;
border: solid 2px #FCF3CF;
}
#submit:hover {
color: #353535;
}



/* BUTTONS */
.button:focus {outline:0;}

.button {color:#FCF3CF;background:transparent;border-width:2px;border-style: solid;border-color: #FCF3CF;position:relative;margin:.4em 0;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-weight:bold;cursor:pointer;}

.button:before, .button:after {content:'';display:block;position:absolute;border-color:#FCF3CF;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}

.button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}

.button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}

.button:hover:before, .button:hover:after {width:calc(100% + 12px);
height:calc(100% + 12px);border-color:#fff}

.button:hover {color:#353535;background-color:#fff;border-color:#fff}

.panel {max-width:960px;text-align:center;position:relative;margin:auto;}

.bw .button {color:#fff;border-color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.1);
box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
}

.bw .button:before, .bw .button:after  {border-color:#fff}

.bw .button:hover:before, .bw .button:hover:after {width:calc(100% + 12px);
height:calc(100% + 12px);border-color:#b3aca7;}

.bw .button:hover {color:#fff;background-color:#353535;border-color:#353535}

.blue .panel {max-width:960px;text-align:center;position:relative;margin:auto;}